<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">>
<head>
    <title>Reserva Realizada</title>
    <link th:href="@{/css/general.css}" href="/css/general" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>



<body>
<div layout:fragment="content">
<div class="card-body">


    <div class="container">
        <h1> ¡Reserva realizada correctamente! </h1>
    </div>
    
    
</div>
</div>
</body>
</html>