<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">>
<head>
    <title>Realizar reserva</title>
    <link th:href="@{/css/general.css}" href="/css/general" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">
<div class="container">
  <br><h2>Realizar reserva</h2><br>
	<div class="card-body">
			  
		 	 	
 	 	<dl> 
 	 		<dt>Actividad seleccionada: </dt>
 	 		<dd> <p th:text="${actividad.nombre}"></dd> 
 	 	
 	 	
	 	 	<dt>Precio por persona: </dt>
	 	 	<dd> <p th:text="${actividad.precio}"></dd> 
 	 	<dl> 
 	 	
 	 	                
  
  
 	 <form class="form-horizontal"  th:action="@{/reserva/reaReserva/{id_actividad}(id_actividad=${actividad.id_actividad})}"
 	 	th:object="${reserva}"method="post" enctype="multipart/form-data">
 	 	
 	 	
 	 	<div class="form-group row">
            <label class="control-label col-sm-2" for="asistentes"> asistentes:</label>
            <div class="col-sm-4">
                <input type="text" size="2" class="form-control" required id="asistentes" th:field="*{asistentes}">
            </div>
            <div class="error" th:if="${#fields.hasErrors('asistentes')}" th:errors="*{asistentes}"></div>
        </div>
        
        
         <div class="form-group row">
            <label class="control-label col-sm-2" for="observaciones"> observaciones:</label>
            <div class="col-sm-4">
                <input type="text" size="50" class="form-control" id="observaciones" th:field="*{observaciones}">
            </div>
            <div class="error" th:if="${#fields.hasErrors('observaciones')}" th:errors="*{observaciones}"></div>
        </div>
        
        <button type="submit" value="Realizar reserva" class="btn btn-primary ">Submit</button>
 	 	
 	 	
	  </form>
 	 	
<!-- Le pasara a reserva el id y el numero de actividad 

		<select name="asistentes">
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		    <option value="5">5</option>
		  <option value="6">6</option>
		  <option value="7">7</option>
		  <option value="8">8</option>
		    <option value="9">9</option>
		  <option value="10">10</option>
		</select>
		  
		  <input type="submit" value="Submit">


        <div class="form-group row">
            <label class="control-label col-sm-2" for="observaciones"> observaciones:</label>
            <div class="col-sm-4">
			      <input type="text" class="form-control" id="observaciones" th:field="*{observaciones}">
        </div>
        
        <div class="form-group row">
            <label class="control-label col-sm-2" for="asistentes"> asistentes:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="asistentes" th:field="*{asistentes}">
            </div>
        </div>

			    
		</div>
		
		-->	  
	  


</div>
</div>
</body>
</html>