<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<head>
    <title>Actualización monitor</title>
    <link th:href="@{/css/general.css}" href="/css/general" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h2 class="titulos">¿Desea cambiar algún dato?</h2>
        <br>

        <div class="container">
            <label><strong>Clasificaciones existentes:</strong></label>
            <div th:if="${clasif_EXISTENTES != null}">
                <ul th:each="c : ${clasif_EXISTENTES}">
                    <li class="clasificacion2">Tipo: <i th:text ="${c.getDescripcion_tipo()}"/> --- Nivel: <i th:text="${c.getDescripcion_nivel()}"/></li>
                </ul>
            </div>
        </div>

            <div class="container">
                <label><strong>Añadir clasificación: </strong></label>
                <form action="#" th:action="@{/monitor/actualizaClasificacion/{id_monitor}(id_monitor=${monitor.id_monitor})}" th:object="${clasificaciones}" method="post">
                    <div class="btn-group">
                        <label class="control-label col-sm-2">Tipo</label>
                        <select class="form-control" th:field="*{descripcion_tipo}">
                            <option th:each="t : ${clasificaciones.getTipos()}"
                                    th:value="${t}"
                                    th:text="${t}">
                            </option>
                        </select>

                        <label class="control-label col-sm-2">Nivel</label>
                        <select class="form-control" th:field="*{descripcion_nivel}">
                            <option th:each="n : ${clasificaciones.getNiveles()}"
                                    th:value="${n}"
                                    th:text="${n}">
                            </option>
                        </select>
                        <button type="submit" class="btn btn-outline-success btn-sm" style="margin-left:5%;">Añadir</button>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <a th:href="@{/monitor/listar}" class="btn btn-success btn-sm" role="button">Hecho</a>
        </form>
    </div>
</div>
</body>
</html>