<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monitores</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>

    <h1 th:if="${solicitudesPendientes.equals('false')}" style="text-align:center;">Listado monitores</h1>
    <h1 th:if="${solicitudesPendientes.equals('true')}" style="text-align:center;">Listado solicitudes para monitores</h1>

    <div class="container-fluid" style="text-align:left; width:80%; margin-top: 1.2%;">
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2">Nombre</th>
            <th>DNI</th>
            <th>Email</th>
            <th class="col-md-3">Certificaciones</th>
            <th class="col-md-3">Observaciones</th>
            <th class="col-md-3">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="monitor: ${monitores}">
            <td th:text="${monitor.nombre}"></td>
            <td th:text="${monitor.nif}"></td>
            <td th:text= "${monitor.email}"></td>
            <td>
            <th:block th:each="m : ${certificados.keySet()}">
                <div th:if ="${m==monitor.id_monitor}">
                    <table class="table">
                        <tr th:each ="c : ${certificados.get(m)}" >
                            <td><p th:if ="${c.id_certificado!='CERT_00'}" th:text = "${c.descripcion}"/></td>
                            <td><a th:if ="${c.id_certificado!='CERT_00'}" href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">ver</a></td>

                        </tr>
                    </table>
                </div>
            </th:block>

            </td>
            <td th:text="${monitor.observaciones}"></td>

            <div class="btn-toolbar">
            <div th:if="${solicitudesPendientes.equals('false')}">
                <div class="btn-group" role="group">
                <td><a th:href="@{/monitor/actualiza/{id_monitor}(id_monitor=${monitor.id_monitor})}" class="btn btn-warning" role="button">Actualizar</a>
                    <a th:href="@{/monitor/elimina/{id_monitor}(id_monitor=${monitor.id_monitor})}" class="btn btn-danger" role="button">Borrar</a></td>
                </div>
            </div>

            <div th:if="${solicitudesPendientes.equals('true')}">
                <div class="btn-group" role="group">
                    <td><a th:href="@{/monitor/solicitud/aprobada/{id_monitor}(id_monitor=${monitor.id_monitor})}" class="btn btn-warning" role="button">Aceptar</a>
                    <a th:href="@{/monitor/solicitud/denegada/{id_monitor}(id_monitor=${monitor.id_monitor})}" class="btn btn-danger" role="button">Denegar</a></td>
                 </div>
            </div>
            </div>

        </tr>
        </tbody>
    </table>
    </div>

</body>
</html>
