<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">>
<head>
    <title>Monitores</title>
    <link th:href="@{/css/general.css}" href="/css/general" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">

    <h1 class="titulos" >Listado monitores</h1>
    <div th:if="${monitores.isEmpty()}">
        <p style="color: #d4e4f0; font-size: large; text-align: center;"><strong>No hay monitores dados de alta </strong></p>
    </div>
    <div th:unless="${monitores.isEmpty()}" class="container-fluid" style="width:100%; margin-top: 1.2%;">
    <table class="table">
        <thead>
        <tr style="text-align:center; background-color:  #d4e4f0 ;">
            <th class="col-md-3">Datos</th>
            <th>Certificados</th>
            <th class="col-md-6">Categorias reconocidas</th>
            <th class="col-md-2">Opciones</th>
        </tr>
        </thead>
        
        <tbody>
        <tr th:each="monitor: ${monitores}">
            <td>
                <ul>
                    <li type="circle"><i class="listado">Nombre:</i><p th:text="${monitor.nombre}"/></li>
                    <li type="circle"><i class="listado">N.I.F:</i><p th:text="${monitor.nif}"/></li>
                    <li type="circle"><i class="listado">Correo electronico:</i><p th:text= "${monitor.email}"/></li>
                    <li type="circle"><i class="listado">Observaciones:</i><p th:text= "${monitor.observaciones}"/></li>
                </ul>
            </td>

            <td><a  href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">ver</a></td>

            <!-- no borrarlo por si lo llegamos a necesitar.

            <th:block th:each="m : ${certificados.keySet()}">
                <div th:if ="${m==monitor.id_monitor}">
                    <table class="table">
                        <tr th:each ="c : ${certificados.get(m)}" >
                            <td><p th:if ="${c.id_certificado!='CERT_00'}" th:text = "${c.descripcion}"/></td>
                            <td><a th:if ="${c.id_certificado!='CERT_00'}" href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">ver</a></td>

                        </tr>
                    </table>
                </div>
            </th:block> -->
            
            <td>
                <th:block th:each="m : ${clasificacionesMonitores.keySet()}">
                    <div th:if ="${m==monitor.id_monitor}">
                        <ul th:each ="clas : ${clasificacionesMonitores.get(m)}" >
                            <li class="clasificacion" >Tipo: <i th:text ="${clas.getDescripcion_tipo()}"/> --- Nivel: <i th:text="${clas.getDescripcion_nivel()}"/></li>
                        </ul>
                    </div>
                </th:block>
            </td>

            <div class="btn-toolbar">
                <div class="btn-group" role="group">
                    <td><a th:href="@{/monitor/actualiza/{id_monitor}(id_monitor=${monitor.id_monitor})}" class="btn btn-warning btn-sm" role="button">Actualizar</a>
                        <a th:href="@{/monitor/elimina/{id_monitor}(id_monitor=${monitor.id_monitor})}" class="btn btn-danger btn-sm" role="button">Borrar</a></td>
                </div>
            </div>


        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
