
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil monitor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
<div class="card-body">

<div class="container">
    <h1> ¡ACTIVIDAD AÑADIDA CORRECTAMENTE! </h1>
</div>

</div>
</div>
</body>
</html>