<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">>
<head>
    <title>Actividades</title>
    <link th:href="@{/css/general.css}" href="/css/general" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">
<th:block th:object="${session}">

    <h1 class="titulos"> Listado de Actividades</h1>
    <div th:if="${actividades.isEmpty()}">
        <p style="color: #d4e4f0; font-size: large; text-align: center;"><strong>No hay actividades publicadas</strong></p>
    </div>
    
        <div th:unless="${actividades.isEmpty()}" class="container-fluid" style="width:100%; margin-top: 1.2%;">
    <table class="table">
       
       
       
       <div th:if="*{role != null and role.equals('CLIENTE')}">
        
        <thead>
        <tr style="text-align:center; background-color:  #d4e4f0 ;">
        	<th class="col-md-3"> - </th>
            <th class="col-md-5">Datos</th>
            <th class="col-md-3">Info</th>
            <th class="col-md-3">Categoria</th>
            <th class="col-md-3">Reservar</th>
        </tr>
        </thead>
        
        <tbody>
        <tr th:each="actividad: ${actividades}">

            <td>
                                <h2><p th:text="${actividad.nombre} + ' (' + ${actividad.lugar} + ')' "/></h2>
            	<img th:attr="th:src="@{/img/}" + ${actividad.id_actividad}"/>
            	
            	 <img th:attr="src=@{|/img/champion_icons/${nombre}.png|},title=${nombre},alt=${nombre}" />
            	<!-- <img th:attr="src=@{'TooPots/src/main/resources/static/img/ima_n' + ${actividad.id_actividad} + '.jpg'}" /> -->
            	
            </td>
        
            <td>
                <ul>

                    <li type="circle"><i class="listado">	Lugar:</i><p th:text="${actividad.lugar}"/></li>
                    <li type="circle"><i class="listado">	Hora:</i><p th:text= "${{actividad.hora}}"/></li>
                    <li type="circle"><i class="listado">	Duracion:</i><p th:text= "${{actividad.duracion}}"/></li>
                    <li type="circle"><i class="listado">	Precio por Persona:</i><p th:text= "${actividad.precio}"/></li>
                </ul>
            </td>
            

            
            
            <td>
                    <li type="circle"><i class="listado">	Descripcion:</i><p th:text="${actividad.descripcion}"/></li>
                    <li type="circle"><i class="listado">	Observaciones:</i><p th:text="${actividad.observaciones}"/></li>
            </td>
            
            <td><a  href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true">ver</a></td>

			<td>
                
                
                <!--
                <fieldset>
                <select id="asistentes" th:name="${asistentes}">
	    				<option th:each="i : ${#numbers.sequence(0, 10)}" th:text="${i}" th:value="${i}" 
	      				th:selected="${i==0}"></option>
					</select>
					<a type="submit" th:href="@{/reserva/reaReserva/{id_actividad}(id_actividad=${actividad.id_actividad}}" class="btn btn-warning btn-sm" role="button" >Reservar</a></td>
					  </fieldset>
					-->
					
    				<a type="submit" th:href="@{/reserva/reaReserva/{id_actividad}(id_actividad=${actividad.id_actividad})}" class="btn btn-warning btn-sm" role="button" >Reservar</a></td>
					 

              
              </td>
              <!-- <hr/> Estructura de secciones ->
              </tr>  
                    
                    
                </div>
            </div>
		</div>
		
		

		
<!-- NOT CLIENTE -->		
		
		<div th:if="*{role == null}">
        
                
        <thead>
        <tr style="text-align:center; background-color:  #d4e4f0 ;">
        
    		<th style="width: 27%">Datos</th>
  			<th style="width: 53%">Info</th>
  			<th style="width: 20%">Categoria</th>

        </tr>
        </thead>
        
        <tbody>
        <tr th:each="actividad: ${actividades}">
            <td>
                <ul>
                    <li type="circle"><i class="listado">	Nombre:</i><p th:text="${actividad.nombre}"/></li>
                    <li type="circle"><i class="listado">	Lugar:</i><p th:text="${actividad.lugar}"/></li>
                    <li type="circle"><i class="listado">	Hora:</i><p th:text= "${{actividad.hora}}"/></li>
                    <li type="circle"><i class="listado">	Duracion:</i><p th:text= "${{actividad.duracion}}"/></li>
                    <li type="circle"><i class="listado">	Precio por Persona:</i><p th:text= "${actividad.precio}"/></li>
                </ul>
            </td>
            
            <td>
                <ul>
                    <li type="circle"><i class="listado">	Descripcion:</i><p th:text="${actividad.descripcion}"/></li>
                    <li type="circle"><i class="listado">	Observaciones:</i><p th:text="${actividad.observaciones}"/></li>
            	</ul>
            </td>
            
            
            <td> <ul> <a  href="#" class="btn btn-success btn-sm disabled" role="button" aria-disabled="true">ver</a> </ul> </td>
    
    </table>
    <hr/>
    </th>
    </div>
    
</body>
