

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nueva Actividad</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nueva Actividad</h2>
<form action="#" th:action="@{/actividad/add}"
      th:object="${actividades}" method="post">
    <table>
        <tr>
            <td><label>idActividad</label></td>
            <td><input type="text" th:field="*{id_actividad}" /></td>
        </tr>
        <tr>
            <td><label>nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>lugar</label></td>
            <td><input type="text" th:field="*{lugar}" /></td>
        </tr>
        <tr>
            <td><label>hora</label></td>
            <td><input type="number" th:field="*{hora}" /></td>
        </tr>
        <tr>
            <td><label>duracion</label></td>
            <td><input type="text" th:field="*{duracion}" /></td>
        </tr>
        <tr>
            <td><label>descripcion</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
            <td><label>precio</label></td>
            <td><input type="text" th:field="*{precio}" /></td>
        </tr>
        <tr>
            <td><label>asistentes minimos</label></td>
            <td><input type="text" th:field="*{asistentesMinimos}" /></td>
        </tr>
        <tr>
            <td><label>asistentes maximos</label></td>
            <td><input type="text" th:field="*{asistentesMaximos}" /></td>
        </tr>
        <tr>
            <td><label>estado</label></td>
            <td><input type="text" th:field="*{estado}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Guardar Actividad" /></td>
            <td colspan="2"><input type="submit" value="Atras" /></td>
        </tr>
    </table>
</form>
</body>
</html>