<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" href="/css/general.css" th:href="@{/css/general.css}"/>
    <meta charset="UTF-8">
    <title>Centro de aventuras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>

</head>

<body>

<nav>
    <h1 class="jumbotron text-center" style="color: #17202a; background-color: #E9967A;">Gestión club aventuras</h1>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm">

            <h2 style="color:#E9967A">Acceso</h2>
            <div class="jumbotron text-center"  href="login">
                <form action="#" th:action="@{/home}" th:object="${user}" method="post">
                    <p>
                        <label>Usuario:</label><br>
                        <input class="form_control" type="text" th:field="*{usuario}"/>
                    <div class="error" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></div>

                    </p>
                    <p>
                        <label>Contraseña:</label><br>
                        <input class="form_control" type="password" th:field="*{password}"/>
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </p>
                    <input type="submit" value="Acceder" />
                </form>
            </div>


        </div>
        <div class="col-sm">
            <h2  style="color:#E9967A">Registro</h2>
            <div class="jumbotron text-center">
                <a class="btn btn-outline-dark" href="monitor/solicitud" role="button">Inscripción monitor</a>
                <br>
                <br>
                <a class="btn btn-outline-dark" href="cliente/inscripcion" role="button">Alta cliente</a>
            </div>
        </div>
        <div class="col-sm">
            <h2  style="color:#E9967A">Actividades</h2>
            <div class="jumbotron text-center">
                <a class="btn btn-outline-dark" href="#" role="button">Ver actividades</a>
            </div>
        </div>
    </div>
</div>



</body>
</html>